@model OrderEventViewModel
<section id="form-event">
    <div class="container">
        <form asp-action="Index" method="post" class="form-table">
            <h3>Заполните форму</h3>
            <div class="row-form">
                <div class="col-md-12">
                    <select class="input-select" asp-for="OrderEvent.RestaurantId" asp-items="ViewBag.Restaurants" id="restaurant">
                        <option disabled selected>Выберите ресторан</option>
                    </select>
                    <span asp-validation-for="OrderEvent.RestaurantId" class="error"></span>
                </div>
                <div class="col-md-6">
                    <input required placeholder="ФИО" type="text" class="input-text" asp-for="OrderEvent.ClientName">
                    <span asp-validation-for="OrderEvent.ClientName" class="error"></span>
                </div>
                <div class="col-md-6">
                    <input required placeholder="Телефон" type="text" class="input-text" asp-for="OrderEvent.ClientPhone">
                    <span asp-validation-for="OrderEvent.ClientPhone" class="error"></span>
                </div>
                <div class="col-md-6">
                    <input required placeholder="Количество гостей" type="text" class="input-text" id="guests" asp-for="OrderEvent.CountGuest" onblur="costCalculation()">
                    <span asp-validation-for="OrderEvent.CountGuest" class="error"></span>
                </div>
                <div class="col-md-6">
                    <input required placeholder="Желаемая дата" type="date" class="input-text" asp-for="OrderEvent.Date">
                    <span asp-validation-for="OrderEvent.Date" class="error"></span>
                </div>
                <div class="col-md-12">
                    <textarea placeholder="Точное время и подробности о заказе" asp-for="OrderEvent.Description" cols="40" rows="5" class="input-textarea"></textarea>
                </div>
                <div class="col-md-6 text-center">
                    <p class="label-cost">Стоимость мероприятия:</p>
                </div>
                <div class="col-md-6">
                    <input class="input-text" asp-for="OrderEvent.CostEvent" id="cost" type="text" readonly="readonly">
                </div>
                <input id="id" type="hidden" asp-for="OrderEvent.Id" value="11111111-1111-1111-1111-111111111111">
                <div class="col-md-12 in-row">
                    <h4>Список блюд</h4>
                    <a class="button button-show-list" id="show-product" onclick="showList()">Добавить блюдо</a>
                    <div class="hide-list-products" id="hide-list">
                        @foreach (var item in Model.Products)
                        {
                            <div class="col-md-12 in-row">
                                <div class="one-item min-product-img">
                                    <img src="@item.Image" alt="">
                                </div>
                                <div class="one-item product-description">
                                    <p id="title">@item.Title</p>
                                </div>
                                <div class="one-item text-center product-cost-min">
                                    <p id="cost-product-hide">@item.Cost</p>
                                </div>
                                <div class="hide">
                                    <p id="id">@item.Id</p>
                                </div>
                                <div class="one-item text-center product-remove-btn">
                                    <a class="button-add" onclick="addProduct.call(this)"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="product-list"></div>
                <div class="col-12 text-center terms-container">
                    <input id="terms" type="checkbox" required>
                    <label for="terms"> Я согласен с условиями <a class="terms" href="https://www.law.ru/article/23093-politika-konfidentsialnosti-dlya-sayta">политики конфиденциальности</a></label>
                </div>
                <div class="col-12 text-center">
                    <button class="button" type="submit" name="submit">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</section>
