<section id="sitemap">
    <div class="container">
        <div class="row">
            <ul>
                <li><a href="/Home/Index">Главная</a></li>
                <li><a href="/About/Restaurants">Рестораны</a></li>
                <li><a href="/About/Service">Обслуживание</a></li>
                <li><a href="/About/Contact">Контакты</a></li>
                <li><a href="/About/Awards">Награды</a></li>
                <li><a href="/About/Staff">Персонал</a></li>
                <li><a href="/About/Reviews">Отзывы</a></li>
                <li><a href="/Menu/Index">Меню</a></li>
                <li><a href="/OrderTable/Index">Столик</a></li>
                <li><a href="/OrderEvent/Index">Мероприятие</a></li>
                <li><a href="/Map/Index">Схема проезда</a></li>
                <li><a href="/Sitemap/Index">Карта сайта</a></li>
            </ul>
        </div>
    </div>
</section>
