<section id="awards">
    <div class="container">
        <div class="items justify-content back-light-gray">
            <div class="one-item col-2-4 order-sm-1">
                <h3>№15 в топ-50 лучших ресторанов в конкурсе White Rabbit</h3>
                <p>
                    19 июня в Бильбао объявлены результаты международного рейтинга White Rabbit. Наша сеть заняла 15-е место в списке
                    лучших ресторанов мира, поставив рекорд для отечественной гастрономии: «Кролик» первый российский ресторан, который
                    занимает место в верхней половине топ-50 мира четыре года подряд. И единственный, добившийся настолько высоких результатов.
                </p>
            </div>
            <div class="one-item col-2-1 order-sm-2">
                <img class="img-item" src="~/images/Awards/award1.jpg" alt="Топ-15 в конкурсе White Rabbit">
            </div>
        </div>
        <div class="items justify-content back-light-gray">
            <div class="one-item col-2-4 order-sm-2">
                <h3>4 колпака от Gault & Millau</h3>
                <p>
                    Эксперты легендарного французского гида поставили нашей сети высшую оценку.
                <p>  </p>
                Gault & Millau – знаменитый ресторанный рейтинг, главный конкурент Michelin, который издается в 30 странах мира,
                вышел в России. В первом издании ресторан нашей сети получил от экспертов высшую оценку – «4 колпака», а также
                отметку «WOW!», означающую, что заведение представляет собой что-то особенное. «Здесь традиционные русские блюда
                переплетаются с последними гастрономическими трендами, а местные продукты находятся на высоте признанных мировых
                деликатесов», - заключили эксперты.
                </p>
            </div>
            <div class="one-item col-2-1 order-sm-1">
                <img class="img-item" src="~/images/Awards/award2.jpg" alt="Награда 4 колпака">
            </div>
        </div>
        <div class="items justify-content back-light-gray">
            <div class="one-item col-2-4 order-sm-1">
                <h3>«ЛУЧШЕЕ ДЕТСКОЕ МЕСТО»</h3>
                <p>
                    Restaurant & Bar удостоился награды «Лучшие детские места Москвы» по версии журнала «Большой город».
                    Помимо специального детского меню каждое воскресенье с 14:00 до 20:00 в нашем ресторане проводится увлекательная
                    шоу-программа с профессиональными аниматорами, которая не только доставит удовольствие Вашим детям, но и раззадорит
                    ребенка внутри Вас!
                </p>
            </div>
            <div class="one-item col-2-1 order-sm-2">
                <img class="img-item" src="~/images/Awards/award3.jpg" alt="Лучшее детское место">
            </div>
        </div>
        <div class="items justify-content back-light-gray">
            <div class="one-item col-2-4 order-sm-2">
                <h3>The World’s 50 Best Restaurants 2017: №23</h3>
                <p>
                    Третий год подряд в топ-50 лучших ресторанов мира — новое достижение. Впервые за всю историю существования
                    премии российский ресторан стабильно держит свои позиции в верхней половине рейтинга.
                <p>  </p>
                Результаты независимой международной премии The World’s 50 Best Restaurants-2017 были оглашены 5 апреля в Мельбурне.
                Список лучших ресторанов определило жюри из 900 экспертов 27 регионов мира, среди которых гастрономические эксперты,
                журналисты, шефы и другие лидеры международной ресторанной индустрии.
                </p>
            </div>
            <div class="one-item col-2-1 order-sm-1">
                <img class="img-item" src="~/images/Awards/award4.jpg" alt="Топ 23 мира 2017">
            </div>
        </div>
    </div>
</section>
