<section id="contacts">
    <div class="container">
        <div class="row text-center">
            <h2>Свяжитесь с нами</h2>
        </div>
        <div class="col-2">
            <h3>Наши координаты</h3>
            <p>
                <i class="fa fa-map-marker"></i>
                Главный офис: Проспект Победы, д. 15
            </p>
            <p>
                <i class="fa fa-clock-o"></i>
                Будни: 10:00 - 20:00.
                <br>
                Выходные и праздники: 12:00 - 22:00
            </p>
            <h3>Бронирование</h3>
            <p>
                <i class="fa fa-phone"></i>
                +7 777 150-32-66
            </p>
            <p>
                <i class="fa fa-envelope-o"></i>
                exbooking@gmail.ru
            </p>
            <h3>Мероприятия</h3>
            <p>
                <i class="fa fa-phone"></i>
                +7 999 998-33-99
            </p>
            <p>
                <i class="fa fa-envelope-o"></i>
                banquet@gmail.ru
            </p>
        </div>
    </div>
</section>
