<div class="container">
    <div class="row">
        <h3>Список отзывов</h3>
    </div>
    <div class="row">
        <table class="list">
            <thead>
                <tr>
                    <th>Имя создателя</th>
                    <th>Дата добавления</th>
                    <th>Тело отзыва</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="creatorName">Виктор Сергеевич</td>
                    <td id="date">2021-09-20 22:10</td>
                    <td id="content">Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв</td>
                    <td><a onclick="removeReview.call(this)">Удалить</a></td>
                </tr>
                <tr>
                    <td id="creatorName">Виктор Сергеевич</td>
                    <td id="date">2021-09-20 22:10</td>
                    <td id="content">Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв</td>
                    <td><a onclick="removeReview.call(this)">Удалить</a></td>
                </tr>
                <tr>
                    <td id="creatorName">Виктор Сергеевич</td>
                    <td id="date">2021-09-20 22:10</td>
                    <td id="content">Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв</td>
                    <td><a onclick="removeReview.call(this)">Удалить</a></td>
                </tr>
                <tr>
                    <td id="creatorName">Виктор Сергеевич</td>
                    <td id="date">2021-09-20 22:10</td>
                    <td id="content">Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв</td>
                    <td><a onclick="removeReview.call(this)">Удалить</a></td>
                </tr>
                <tr>
                    <td id="creatorName">Виктор Сергеевич</td>
                    <td id="date">2021-09-20 22:10</td>
                    <td id="content">Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв</td>
                    <td><a onclick="removeReview.call(this)">Удалить</a></td>
                </tr>
                <tr>
                    <td id="creatorName">Виктор Сергеевич</td>
                    <td id="date">2021-09-20 22:10</td>
                    <td id="content">Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв</td>
                    <td><a onclick="removeReview.call(this)">Удалить</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row text-center">
        <a class="active">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
    </div>
</div>
