<section id="form-review">
    <div class="container">
        <div class="row text-center">
            <form action="" method="post">
                <div class="first-row">
                    <input type="text" class="input" name="name" placeholder="Введите имя" required autocomplete="off">
                    <input type="submit" class="button" value="Добавить">
                </div>
                <div class="text-area">
                    <textarea name="message" cols="100" placeholder="Введите ваш отзыв" rows="4"></textarea>
                </div>
            </form>
        </div>
    </div>
</section>
<section id="reviews">
    <div class="container">
        <div class="row justify-content">
            <div class="title-review">
                <p class="left-tab">12.09.2021 00:05</p>
                <p class="left-tab">Виктор Сергеевич</p>
            </div>
            <div class="text-review">
                <p>Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв </p>
            </div>
        </div>
        <div class="row content-right">
            <div class="title-review">
                <p class="right-tab">12.09.2021 00:05</p>
                <p class="right-tab">Виктор Сергеевич</p>
            </div>
            <div class="text-review">
                <p>Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв </p>
            </div>
        </div>
        <div class="row justify-content">
            <div class="title-review">
                <p class="left-tab">12.09.2021 00:05</p>
                <p class="left-tab">Виктор Сергеевич</p>
            </div>
            <div class="text-review">
                <p>Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв </p>
            </div>
        </div>
        <div class="row content-right">
            <div class="title-review">
                <p class="right-tab">12.09.2021 00:05</p>
                <p class="right-tab">Виктор Сергеевич</p>
            </div>
            <div class="text-review">
                <p>Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв </p>
            </div>
        </div>
        <div class="row justify-content">
            <div class="title-review">
                <p class="left-tab">12.09.2021 00:05</p>
                <p class="left-tab">Виктор Сергеевич</p>
            </div>
            <div class="text-review">
                <p>Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв Мой отзыв </p>
            </div>
        </div>
    </div>
</section>
<section class="paginator">
    <div class="container">
        <div class="text-center">
            <a class="active" href="">1</a>
            <a href="">2</a>
            <span>...</span>
            <a href="">9</a>
            <a href="">10</a>
        </div>
    </div>
</section>