<section id="services">
    <div class="container">
        <div class="row text-center">
            <h2>Доступные сервисы</h2>
        </div>
        <div class="justify-content">
            <h4>Наши преимущества</h4>
            <div class="advantage-item">
                <i class="fa fa-star"></i>
                Множество различных залов
            </div>
            <div class="advantage-item">
                <i class="fa fa-star"></i>
                Удобное расположение в самых лучших районах города
            </div>
            <div class="advantage-item">
                <i class="fa fa-star"></i>
                Услуги личного менеджера
            </div>
            <div class="advantage-item">
                <i class="fa fa-star"></i>
                Широкое меню
            </div>
            <div class="advantage-item">
                <i class="fa fa-star"></i>
                Приятный и расслабляющий интерьер
            </div>
        </div>
        <div class="justify-content">
            <h4>Заказ столика</h4>
            <p>Часто хочеться уединиться с догорим человеком и провести время в приятной атмосфере с вкусной едой, элегантными напитками, под расслабляющую музыку.</p>
            <p>У нас вы можете заказать любой столик в любом ресторане на свой вкус. У нас столики с видом на город, приватные лоджии, столики на свежем воздухе в саду, большие вернады.</p>
            <p>Всё это можно заказать парой щелчков мышью на нашем сайте в разделе "Столик".</p>
        </div>
        <div class="justify-content">
            <h4>Заказ мероприятия</h4>
            <p>Проведение любого мероприятия требует тщательной подготовки. Если вы хотите отпраздновать свадьбу или юбилей, устроить шумный детский праздник, провести масштабный корпоратив или серьезную деловую встречу - наша команда учтет все ваши пожелания и подберет площадку, которая позволит идеально воплотить все, что вы задумаете.</p>
            <p>Быстро оформить заказ вы можете на нашем сайте в разделе "Мероприятия". Заполните краткую форму и с вами свяжутся наши менеджеры.</p>
        </div>
    </div>
</section>
